@* Views/Albums/Delete.cshtml *@
@model MuzikKatalogu.Models.Album

@{
    ViewData["Title"] = "Albümü Sil";
}

<h1>Albümü Sil</h1>

<h3>Bu albümü silmek istediğinizden emin misiniz? Bu işlem geri alınamaz.</h3>
<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @(Model.ReleaseDate.HasValue ? Model.ReleaseDate.Value.ToShortDateString() : "")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Model.Price.ToString("C")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoverImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.CoverImageUrl" width="100" class="img-thumbnail" onerror="this.onerror=null;this.src='/images/albums/default_album.jpg';" />
            <br />
            @Html.DisplayFor(model => model.CoverImageUrl)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AlbumId" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
    </form>
</div>